
h1 {
    text-decoration: blue
#Animal {border-style:solid; boder-width:5px;
border-color: gray;
background-color: yellow;}  

h2{background-color: cornflowerblue-
biobox {
    align: centert;
    text-align:center; 
    display: inline;
}

#biolist { float: center;} biobox { align: left;
    text-align:none;
    display: inline;}

#biobox { align: center}
   
