
h1 {color: blue;}

h2{background-color:lightgreen}

    biobox {
    align: centert;
    text-align:center; 
    display: inline;
}

#biolist { float: center;} biobox { align: left;
    text-align:none;
    display: inline;}

#biobox { align: center}
   
