
body {
    background-color: rgb(192, 241, 240);
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size:30px;
  }

  h2, h3 { text-align:center; box-sizing: content-box;  
    width:110px;
    height: 30px;
    padding: 10px;  
    border: 5px solid rgb(21, 4, 24);}


  
 

#biolist { float: center;} biobox { align: left;
    text-align:none;
    display: inline;}

#biobox { align: center}
   
.main {
  align-content: center;
}
header, nav, footer, content {background-color:white }

.content {display: flex}

section, aside {background-color:rgb(177, 184, 155) }
section{float:left;}
aside{ float: right;}


p {
  text-align: center;
}